<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="_openMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="">
      <ion-button>
        Teams
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="onClick()">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
      <ion-button (click)="_openSearchGlobal()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar>
    <ion-title>teams</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>

</ion-content>