ion-slides {
    height: 100%;
}
.smilye {
    position: absolute;
    top: 0.7em;
    right: 0.5em;
}
ion-input.input-field {
    border: 1px solid lightgray;
    border-radius: 6px;
    padding-right: 30px !important;
}
